
ChessEngine/obj/Debug/net8.0/ChessEngine.GeneratedMSBuildEditorConfig.editorconfig
/ChessEngine/obj
/ChessEngine/obj
ChessEngine/obj/project.assets.json
ChessEngine/obj/Debug/net8.0/ChessEngine.GeneratedMSBuildEditorConfig.editorconfig
ChessEngine/obj/Debug/net8.0/ChessEngine.assets.cache
ChessEngine/bin/Debug/net8.0/ChessEngine.dll
ChessEngine/bin/Debug/net8.0/ChessEngine.dll
